@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "sidebar feed";
  grid-template-rows: auto;
  font-family: 'Lato', sans-serif; }
  @media screen and (max-width: 768px) {
    body {
      grid-template-areas: "mobileheader" "feed" "sidebar";
      grid-template-columns: 100%; } }
  body .mobile-header {
    grid-area: mobileheader;
    display: none; }
    @media screen and (max-width: 768px) {
      body .mobile-header {
        display: flex;
        height: 60px;
        background-color: #000000;
        border-bottom: 1px solid #363636;
        padding: 20px;
        justify-content: space-between;
        align-items: center; } }
    @media screen and (max-width: 450px) {
      body .mobile-header {
        justify-content: center; } }
    body .mobile-header .header-brand {
      width: 120px;
      height: 40px; }
      @media screen and (max-width: 450px) {
        body .mobile-header .header-brand {
          display: none; } }
    body .mobile-header .right {
      display: flex;
      align-items: center; }
      body .mobile-header .right .search-container {
        background-color: #262626;
        padding: 10px;
        padding-right: 0px;
        border-radius: 10px;
        display: flex;
        flex-direction: row; }
        body .mobile-header .right .search-container .fa-magnifying-glass {
          color: #8E8E8E;
          padding-right: 10px;
          padding-left: 10px; }
        body .mobile-header .right .search-container .fa-circle-xmark {
          display: none;
          color: #C8C8C8;
          margin-right: 5px; }
        body .mobile-header .right .search-container .search-input {
          border: none;
          background-color: transparent;
          outline: none;
          color: #fff; }
          body .mobile-header .right .search-container .search-input::placeholder {
            color: #8E8E8E; }
        body .mobile-header .right .search-container .search-input:focus + .fa-circle-xmark {
          display: inline; }
        body .mobile-header .right .search-container .search-input:focus + .fa-magnifying-glass {
          display: none; }
      body .mobile-header .right .fa-heart {
        color: #FAFAFA;
        font-size: 22px;
        margin-left: 20px; }
  body aside {
    grid-area: sidebar;
    height: 100vh;
    width: 350px;
    background-color: #000000;
    padding: 10px;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    @media screen and (max-width: 1265px) {
      body aside {
        width: fit-content; } }
    @media screen and (max-width: 768px) {
      body aside {
        width: 100%;
        height: 60px;
        padding: 0px;
        border-top: 1px solid #363636; } }
    body aside .sidebar-nav .brand-container {
      margin-bottom: 30px;
      margin-bottom: 30px;
      padding: 10px;
      cursor: pointer;
      border-radius: 20px; }
      @media screen and (max-width: 1265px) {
        body aside .sidebar-nav .brand-container {
          display: flex;
          justify-content: center;
          padding: 0px; } }
      @media screen and (max-width: 768px) {
        body aside .sidebar-nav .brand-container {
          display: none; } }
      body aside .sidebar-nav .brand-container .brand-normal {
        width: 120px;
        height: 40px; }
        @media screen and (max-width: 1265px) {
          body aside .sidebar-nav .brand-container .brand-normal {
            display: none; } }
      body aside .sidebar-nav .brand-container .brand-responsive {
        width: 60px;
        display: none; }
        @media screen and (max-width: 1265px) {
          body aside .sidebar-nav .brand-container .brand-responsive {
            display: inline;
            border-radius: 50%;
            padding: 15px; }
            body aside .sidebar-nav .brand-container .brand-responsive:hover {
              background-color: #121212; } }
    @media screen and (max-width: 768px) {
      body aside .sidebar-nav {
        display: flex;
        justify-content: center;
        height: 100%; } }
    body aside .sidebar-nav .nav-ul {
      display: flex;
      flex-direction: column; }
      @media screen and (max-width: 768px) {
        body aside .sidebar-nav .nav-ul {
          flex-direction: row;
          width: 100%;
          justify-content: space-around;
          align-items: center; } }
      @media screen and (max-width: 1265px) {
        body aside .sidebar-nav .nav-ul {
          align-items: center; } }
      body aside .sidebar-nav .nav-ul .nav-li {
        list-style-type: none;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        padding: 15px;
        border-radius: 20px;
        transition: background-color 200ms;
        cursor: pointer; }
        @media screen and (max-width: 1265px) {
          body aside .sidebar-nav .nav-ul .nav-li {
            width: fit-content;
            border-radius: 50%; } }
        @media screen and (max-width: 768px) {
          body aside .sidebar-nav .nav-ul .nav-li {
            margin-bottom: 0px;
            padding: 0px;
            border-radius: 0px;
            height: fit-content; }
            body aside .sidebar-nav .nav-ul .nav-li:nth-child(2) {
              display: none; }
            body aside .sidebar-nav .nav-ul .nav-li:nth-child(6) {
              display: none; } }
        body aside .sidebar-nav .nav-ul .nav-li .nav-icon {
          font-size: 22px; }
          @media screen and (max-width: 768px) {
            body aside .sidebar-nav .nav-ul .nav-li .nav-icon:hover {
              background-color: #000000; } }
        body aside .sidebar-nav .nav-ul .nav-li .nav-link {
          margin-left: 15px; }
          @media screen and (max-width: 1265px) {
            body aside .sidebar-nav .nav-ul .nav-li .nav-link {
              display: none; } }
        body aside .sidebar-nav .nav-ul .nav-li:hover {
          background-color: #121212; }
          body aside .sidebar-nav .nav-ul .nav-li:hover .nav-icon {
            transform: scale(1.1); }
    body aside .more-container {
      padding: 15px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      transition: background-color 200ms; }
      body aside .more-container:hover {
        background-color: #121212; }
      @media screen and (max-width: 1265px) {
        body aside .more-container {
          display: flex;
          justify-content: center;
          padding: 0px;
          border-radius: 0px; }
          body aside .more-container:hover {
            background-color: #000000; } }
      @media screen and (max-width: 768px) {
        body aside .more-container {
          display: none; } }
      body aside .more-container .fa-bars {
        font-size: 25px;
        transition: transform, background-color 200ms; }
        @media screen and (max-width: 1265px) {
          body aside .more-container .fa-bars {
            padding: 15px;
            border-radius: 50%; }
            body aside .more-container .fa-bars:hover {
              background-color: #121212;
              transform: scale(1.05); } }
      body aside .more-container span {
        margin-left: 15px; }
        @media screen and (max-width: 1265px) {
          body aside .more-container span {
            display: none; } }
  body .feed {
    grid-area: feed;
    background-color: #121212;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    overflow-y: scroll; }
    @media screen and (max-width: 768px) {
      body .feed {
        padding: 0px; }
        body .feed::-webkit-scrollbar {
          display: none; } }
    body .feed .feed-left .stories {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 480px;
      height: 120px;
      display: flex;
      flex-direction: row;
      background-color: #000000;
      border: 1px solid #363636;
      border-radius: 10px;
      padding: 10px; }
      body .feed .feed-left .stories::-webkit-scrollbar {
        display: none; }
      @media screen and (max-width: 480px) {
        body .feed .feed-left .stories {
          width: 100%; } }
      body .feed .feed-left .stories .storie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        cursor: pointer; }
        body .feed .feed-left .stories .storie .storie-username {
          color: #D9D9D9;
          font-size: 12px;
          margin-top: 5px; }
        body .feed .feed-left .stories .storie .gradient {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: linear-gradient(to bottom, #9B0091, #FF1C51, #FFC800);
          padding: 2px; }
          body .feed .feed-left .stories .storie .gradient .storie-pfp {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #000000;
            padding: 2px; }
    body .feed .feed-left .publication {
      width: 480px;
      background-color: #000000;
      margin-bottom: 10px;
      border: 1px solid #363636;
      border-radius: 10px; }
      @media screen and (max-width: 480px) {
        body .feed .feed-left .publication {
          width: auto; } }
      body .feed .feed-left .publication .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px; }
        body .feed .feed-left .publication .top .user-info {
          display: flex;
          align-items: center; }
          body .feed .feed-left .publication .top .user-info .publication-user-pfp {
            width: 32px;
            border-radius: 50%;
            cursor: pointer; }
          body .feed .feed-left .publication .top .user-info .publication-user-name {
            color: #fafafa;
            margin-left: 10px;
            font-weight: 600;
            font-size: 14px;
            cursor: pointer; }
        body .feed .feed-left .publication .top .fa-ellipsis {
          color: #fafafa;
          font-size: 20px;
          cursor: pointer; }
      body .feed .feed-left .publication .publication-image {
        width: 100%; }
      body .feed .feed-left .publication .bottom {
        padding: 15px; }
        body .feed .feed-left .publication .bottom .actions-container {
          display: flex;
          justify-content: space-between; }
          body .feed .feed-left .publication .bottom .actions-container .actions .action-icon {
            font-size: 23px;
            color: #fafafa;
            cursor: pointer;
            margin-right: 20px; }
            body .feed .feed-left .publication .bottom .actions-container .actions .action-icon:hover {
              color: #8E8E8E; }
          body .feed .feed-left .publication .bottom .actions-container .fa-bookmark {
            font-size: 23px;
            color: #fafafa;
            cursor: pointer; }
            body .feed .feed-left .publication .bottom .actions-container .fa-bookmark:hover {
              color: #8E8E8E; }
        body .feed .feed-left .publication .bottom .likes-quantity {
          margin-top: 15px; }
          body .feed .feed-left .publication .bottom .likes-quantity .likes {
            color: #fafafa;
            cursor: pointer;
            font-weight: 600;
            font-size: 15px; }
        body .feed .feed-left .publication .bottom .comments-container {
          margin-top: 10px; }
          body .feed .feed-left .publication .bottom .comments-container .comments {
            color: #A8A8A8;
            cursor: pointer; }
        body .feed .feed-left .publication .bottom .publication-time {
          color: #A8A8A8;
          margin-top: 10px;
          font-size: 12px; }
        body .feed .feed-left .publication .bottom .publication-description-container {
          margin-top: 12px; }
          body .feed .feed-left .publication .bottom .publication-description-container .publication-description {
            color: #FAFAFA;
            font-size: 14px; }
            body .feed .feed-left .publication .bottom .publication-description-container .publication-description .publication-user-name {
              color: #FAFAFA;
              font-weight: 600;
              font-size: 14px; }
      body .feed .feed-left .publication .comment-action {
        display: flex;
        flex-direction: row;
        padding: 15px;
        border-top: 1px solid #363636;
        justify-content: space-between; }
        @media screen and (max-width: 768px) {
          body .feed .feed-left .publication .comment-action {
            display: none; } }
        body .feed .feed-left .publication .comment-action .comment-left {
          display: flex;
          align-items: center; }
          body .feed .feed-left .publication .comment-action .comment-left .emoji {
            color: #fafafa;
            font-size: 23px; }
          body .feed .feed-left .publication .comment-action .comment-left .comment-input {
            margin-left: 15px;
            background-color: transparent;
            border: none;
            outline: none;
            color: #fff; }
            body .feed .feed-left .publication .comment-action .comment-left .comment-input::placeholder {
              color: #A8A8A8;
              font-size: 15px; }
        body .feed .feed-left .publication .comment-action .publish-btn {
          font-weight: 600;
          color: #b3dbff; }
    body .feed .feed-right {
      width: 320px;
      margin-left: 25px; }
      @media screen and (max-width: 1000px) {
        body .feed .feed-right {
          display: none; } }
      body .feed .feed-right .profile-change {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center; }
        body .feed .feed-right .profile-change .profile {
          display: flex;
          flex-direction: row;
          align-items: center; }
          body .feed .feed-right .profile-change .profile img {
            width: 60px;
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer; }
          body .feed .feed-right .profile-change .profile .usernameandname {
            display: flex;
            flex-direction: column; }
            body .feed .feed-right .profile-change .profile .usernameandname span {
              font-size: 15px; }
              body .feed .feed-right .profile-change .profile .usernameandname span:nth-child(1) {
                color: #FAFAFA;
                margin-bottom: 5px;
                font-weight: 600;
                cursor: pointer; }
              body .feed .feed-right .profile-change .profile .usernameandname span:nth-child(2) {
                color: #A8A8A8; }
        body .feed .feed-right .profile-change .change-btn {
          color: #0095f6;
          font-size: 13px;
          cursor: pointer; }
          body .feed .feed-right .profile-change .change-btn:hover {
            color: #DBEBF9; }
      body .feed .feed-right .suggestions-header {
        display: flex;
        justify-content: space-between; }
        body .feed .feed-right .suggestions-header span {
          font-weight: 600;
          font-size: 13px; }
          body .feed .feed-right .suggestions-header span:nth-child(1) {
            color: #999999; }
          body .feed .feed-right .suggestions-header span:nth-child(2) {
            color: #DBEBF9;
            cursor: pointer; }
            body .feed .feed-right .suggestions-header span:nth-child(2):hover {
              color: #6D6D6D; }
      body .feed .feed-right .suggestions-container {
        margin-top: 20px; }
        body .feed .feed-right .suggestions-container .suggestion {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px; }
          body .feed .feed-right .suggestions-container .suggestion .suggestion-info {
            display: flex;
            flex-direction: row;
            align-items: center; }
            body .feed .feed-right .suggestions-container .suggestion .suggestion-info img {
              width: 35px;
              height: 35px;
              cursor: pointer;
              border-radius: 50%;
              margin-right: 10px; }
            body .feed .feed-right .suggestions-container .suggestion .suggestion-info .user-suggestion {
              display: flex;
              flex-direction: column; }
              body .feed .feed-right .suggestions-container .suggestion .suggestion-info .user-suggestion span:nth-child(1) {
                color: #fafafa;
                cursor: pointer;
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 3px; }
              body .feed .feed-right .suggestions-container .suggestion .suggestion-info .user-suggestion span:nth-child(2) {
                color: #A8A8A8;
                font-size: 12px; }
          body .feed .feed-right .suggestions-container .suggestion .follow-btn {
            color: #0095f6;
            cursor: pointer;
            font-size: 13px; }
            body .feed .feed-right .suggestions-container .suggestion .follow-btn:hover {
              color: #6D6D6D; }
      body .feed .feed-right .footer {
        margin-top: 40px;
        display: flex;
        flex-direction: column; }
        body .feed .feed-right .footer .footer-links {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row; }
          body .feed .feed-right .footer .footer-links .footer-link {
            text-decoration: none;
            color: #525252;
            font-size: 12px;
            margin-right: 5px; }
            body .feed .feed-right .footer .footer-links .footer-link:hover {
              text-decoration: underline; }
        body .feed .feed-right .footer .watermark {
          font-size: 13px;
          color: #525252;
          margin-top: 20px; }
